#Virtual environment
venv/
venv*/
.Python
bin/
include/
lib/
lib64/
pip-selfcheck.json

#IDE files
.vscode/
.idea/
*.iml
*.pyc

#Enviroment variables
.env

#Database
friend.db

#Compiled Python Files
*.pyc

#Dependency Directories
node_modules/
/dist/